@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}

.denied__link {
  background: none;
  color: #fff;
  padding: 12px 0px 10px 0px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 7px;
  width: 150px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
  margin-top: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.permission_denied a {
  text-decoration: none;
}

.denied__link:hover {
  color: #ffbb39;
  border-color: #ffbb39;
  cursor: pointer;
  opacity: 1;
}

section {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}
section h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 11rem;
  margin: 0%;
  margin-top: 4rem;
}
section h2 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  margin: 0%;
}
